.btn {
  text-align: center;
  color: $color-basic-contrast;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid $color-basic-contrast;

  @include btn-reset;

  &--transparent {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--solid {
    background-color: $color-secondary;
  }
}
