.category {
  box-sizing: border-box;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  color: $color-basic-contrast;
  text-decoration: none;

  background-color: $color-accent;
  border-radius: 60px;

  &:hover,
  &:focus {
    background-color: #b20000;
  }

  &:active {
    background-color: $color-accent-dark;
  }
}
