.gallery__link {
  font-weight: 500;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 0.13em;

  border-bottom: 1px solid transparent;

  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-accent;
  }

  &:active {
    color: $color-accent;
  }
}
