.more-info__title {
  line-height: 1.7em;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.more-info__list {
  @include list-reset;
}

.more-info__link {
  @include link-reset;
}

.more-info__link:hover,
.more-info__link:focus {
  color: $color-accent;
}

.more-info__article-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
}

.more-info__article-date {
  font-size: 12px;
  line-height: 1.6em;
  text-transform: uppercase;
}
