.more-info__title {
  line-height: 1.7em;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.more-info__list {
  display: flex;

  @include list-reset;
}

.more-info__link {
  height: 132px;
  width: 145px;

  @include link-reset;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:active {
    color: $color-accent-dark;
  }

  &::before {
    content: "";
    display: block;
    width: 145px;
    height: 132px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--popular::before {
    background-image: url("../img/more-info-popular.png");
  }

  &--wave::before {
    background-image: url("../img/more-info-wave.png");
  }

  &--glass::before {
    background-image: url("../img/more-info-glass.png");
  }
}

.more-info__article-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
}

.more-info__article-date {
  font-size: 12px;
  line-height: 1.6em;
  text-transform: uppercase;
}
