.section {
  @include wrapper;
}

.section__title {
  font-weight: 600;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.section__coint-items {
  line-height: 1.4em;
  color: rgba(51, 51, 51, 0.5);
}

.section__list {
  @include list-reset;
}

.section__link {
  color: $color-secondary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:active {
    color: $color-accent-dark;
  }
}

.section__article-title {
  font-weight: 500;
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}
