.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  @include large-wrapper;
}

.slider__list {
  height: 490px;
  overflow: hidden;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    height: calc(490px + 8px + 240px);

    grid-gap: 8px;
    grid-template-areas:
      "slider-current slider-current"
      "slider slider";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 490px 240px;
  }

  @media (min-width: $desktop-width) {
    height: 490px;

    grid-template-areas:
      "slider-current slider"
      "slider-current slider";
    grid-template-columns: 66% 32%;
    grid-template-rows: 240px;
  }
}

.slider__item {
  &--current {
    height: 490px;
  }

  @media (min-width: $tablet-width) {

    &--current {
      grid-area: slider-current;
    }
  }
}

.slider__control {
  align-self: center;
}

.slider__control-list {
  display: flex;
  margin-left: -15px;

  @include list-reset;
}

.slider__control-item {
  margin-left: 15px;
}

.slider__toggle {
  width: 15px;
  height: 15px;

  font-size: 0;

  background-color: inherit;
  border: 1px solid #4f4f4f;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #a0a0a0;
  }

  &:active {
    background-color: #4f4f4f;
  }

  &--current {
    background-color: #4f4f4f;
  }
}
