.social {
  margin-right: auto;
  margin-left: auto;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 0;
  margin-left: -20px;
  padding-left: 0;

  list-style: none;
}

.social__item {
  margin-top: 10px;
  margin-left: 20px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #5e5e5e;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #101010;
  }

  &:active {
    background-color: $color-secondary;
  }

  &--facebook {
    background-image: url("../img/social-facebook.svg");
    background-size: 9px 18px;
  }

  &--twitter {
    background-image: url("../img/social-twitter.svg");
    background-size: 17px 14px;
  }

  &--instagram {
    background-image: url("../img/social-instagram.svg");
    background-size: 18px 18px;
  }

  &--pinterest {
    background-image: url("../img/social-pinterest.svg");
    background-size: 14px 18px;
  }

  &--google {
    background-image: url("../img/social-google.svg");
    background-size: 21px 14px;
  }

  &--spotify {
    background-image: url("../img/social-spotify.svg");
    background-size: 16px 11px;
  }

  &--tumblr {
    background-image: url("../img/social-tumblr.svg");
    background-size: 10px 17px;
  }
}
