$font-basic: "Montserrat", "Arial", sans-serif;
$color-basic: #333333;
$color-basic-contrast: #ffffff;
$color-secondary: #000000;
$color-accent: #d90000;
$color-accent-dark: #a00000;
$color-solid-background: #1a1a1a;
